<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giáng Sinh Vui Vẻ</title>
    <link rel="stylesheet" href="~/Content/HomeUser.css">
</head>
<body>
    <div id="screen" class="main-screen">
        <div id="firefly" class="firefly"></div>
        <div class="snow"></div> <!-- Tuyết rơi -->
        <div class="christmas-tree"></div> <!-- Cây thông Giáng sinh -->
    </div>
    <div id="content" class="content" style="display: none;">
        <h1>Chúc Mừng Giáng Sinh!</h1>
        <!-- Nội dung chính ở đây -->
    </div>
    <script src="~/Content/HomeUser.js"></script>
</body>
</html>