@model DD.Models.QLUserViewModel

@{
    ViewBag.Title = "Thêm Người Dùng";
}

<div class="container">
    <h2 class="text-center">Thêm Người Dùng</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.TenKH)
            @Html.TextBoxFor(m => m.TenKH, new { @class = "form-control" })
        </div>
        <!-- Các trường khác tương tự -->
        <button type="submit" class="btn btn-success">Thêm</button>
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-danger" })
    }
</div>
