@model string

<h2>Xóa Người Dùng</h2>
<p>Bạn có chắc chắn muốn xóa người dùng với mã: @Model?</p>

@using (Html.BeginForm("Delete", "QLUser", FormMethod.Post))
{
    @Html.Hidden("id", Model)
    <input type="submit" value="Xóa" />
    <a href="@Url.Action("Index")">Hủy</a>
}
