@model System.Web.Mvc.ModelStateDictionary

@if (!ViewData.ModelState.IsValid)
{
    <div class="validation-summary-errors">
        <h4>Có lỗi xảy ra:</h4>
        <ul>
            @foreach (var entry in ViewData.ModelState)
            {
                foreach (var error in entry.Value.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

