@model DD.Models.qldanhgia

<h2>Trả Lời Đánh Giá</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MaDangGia)

    <div>
        <label>Nội dung đánh giá:</label>
        <p>@Model.NoiDung</p>
    </div>

    <div>
        <label>Phản hồi:</label>
        @Html.TextAreaFor(model => model.PhanHoi, new { @class = "form-control", rows = 5 })
    </div>

    <div>
        <input type="submit" value="Gửi Phản Hồi" class="btn btn-primary" />
    </div>
}

